import /tee.rc
on init
    start servicemanager
    start hwservicemanager
    mkdir /mnt/vendor/persist
    mount ext4 /dev/block/by-name/persist /mnt/vendor/persist rw

on fs
    install_keyring

on boot
    start health-hal-2-0
    start health-hal-2-1

service keystore2 /system/bin/keystore2 /tmp/misc/keystore
    class early_hal
    user root
    group keystore readproc log
    disabled
    writepid /dev/cpuset/foreground/tasks
    seclabel u:r:recovery:s0

# Start Daemon (Registry directories should already be present)
service mobicore /vendor/bin/mcDriverDaemon --P1 /mnt/vendor/persist/mcRegistry \
    -r /vendor/app/mcRegistry/020b0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/030b0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/030c0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/030f0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/05070000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/06090000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/07150000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/07170000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/08050000000000000000000000003419.drbin \
    -r /vendor/app/mcRegistry/09070000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/9073f03a9618383bb1856eb3f990babd.drbin
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service hal_cryptoeng_oppo /system/bin/hw/vendor.oplus.hardware.cryptoeng@1.0-service
    user root
    group root input sdcard_rw sdcard_r
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0 /system/bin/android.hardware.keymaster@4.0-service.trustonic
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start hal_cryptoeng_oppo
    start mobicore
    start keymaster-4-0
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop mobicore
    stop hal_cryptoeng_oppo
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:ro.crypto.state=unencrypted
    stop mobicore
    stop hal_cryptoeng_oppo
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:twrp.decrypt.done=true
    stop mobicore
    stop hal_cryptoeng_oppo
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on post-fs
    # Support A/B feature for EMMC and UFS boot region
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b
    symlink /dev/block/mmcblk0boot0 /dev/block/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/by-name/preloader_b
